* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
.navbar,
.slashPin,
.pagination .page-link:hover,
.card-title,
.confirmation-modal {
  background-color: #000;
}
.navbar-brand,
.alert {
  display: block;
}
.navbar-brand {
  margin: auto;
  color: #fff !important;
}
.notes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.notes-container,
.addnote,
.search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.addnote {
  flex-direction: column;
}
.slashPin,
.pagination .page-link:hover,
.card-title,
.confirmation-modal {
  color: #fff;
}
.slashPin {
  border-radius: 6px;
}
i {
  padding: 10px;
}
.card-buttons,
.card-title,
.confirmation-modal {
  position: absolute;
}
.card-buttons {
  bottom: 0;
  right: 0;
}

i:focus,
i:active,
input,
input:focus,
input:active,
.page-link:active,
.page-link:focus {
  outline: none !important;
  box-shadow: none !important;
}
.pagination {
  margin-top: 20px;
}
.pagination .page-item {
  display: inline;
  margin: 0 5px;
}
.pagination .page-link,
.confirmation-modal,
.alert {
  border: 1px solid #000;
}
.pagination .page-link {
  cursor: pointer;
  background-color: transparent;
  color: #000;
}
.first-item {
  order: -1;
}
.card-title {
  top: 0;
  left: 0;
  width: 100%;
  height: max-content;
  padding: 15px;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
}
.searchContainer {
  overflow: hidden;
  border-radius: 5px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
}
.searchIcon {
  padding: 0.7rem;
}
.searchBox {
  width: 300px;
  border: 0;
  padding: 0.7rem 0.7rem 0.7rem 0;
}
.confirmation-modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  border-radius: 10px;
  height: 20vh;
  width: 30vw;
  padding: 20px;
}
.alert {
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
  position: relative;
  z-index: 999;
}
.card {
  transition: transform 0.3s, box-shadow 0.3s;
}
.card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 4px 6px rgba(0, 0, 0, 0.1);
}
.edit-modal{
  margin-top: 8rem;
}
@media only screen and (max-width: 768px) {
  html,
  body {
    width: 100% !important;
    overflow-x: hidden !important;
  }
  .notes {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 425px) {
  .notes {
    grid-template-columns: repeat(1, 1fr);
  }
  .addnote input,
  .addnote textarea {
    width: 320px !important;
  }
.confirmation-modal {
  height: 50vh;
  width: 90%;
}
.search{
flex-direction:column;
}
}
